.image-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  gap: 2rem;
}

.pill-list {
  align-self: flex-end;
}

.contact-section {
  padding: 6rem 2rem 6rem 2rem;
  margin-top: 4rem;
  background-color: #0C0A1F;
}

.cards-container {
  display: flex;
  justify-content: center;
  height: 15rem;
  gap: 1rem;
}

.big-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(-60%);
}

p {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 4rem 20% 4rem 20%;
  line-height: 2;
}

span {
  color: #5B1C7D;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-35%);
  padding: 0 2rem 0 2rem;
  height: 24rem;
  background-color: #FFFFFF;
}

.about .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem
}

.about .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 8rem;
  background-color: #0C0A1F;
}

.content {
  display: flex;
  justify-content: center;
  width: 80%;
}

.color-white {
  color: #FFFFFF;
}
