.container {
  height: 300px;
  width: 300px;
  contain: content;
  padding: 0;
  border-radius: 14px;
  border: solid #00000055;
  border-width: 0 1px 1px;
}

.image-container {
  contain: content;
  height: 230px;
}

.image-container po-button {
  position: absolute;
  bottom: 15%;
  transform: translateX(100%);
}

.container img {
  object-fit: cover;
  width: 100%;
}

.description {
  padding: 14px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #5B1C7D;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
