.menu-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.menu-bar-list-container {
  width: 60%;
}

.menu-bar-list-container ul {
  display: flex;
  justify-content: center;
}

.menu-bar-list-container a {
  margin: 0 1rem 0 1rem;
  color: #110F24;
}

